@media (min-width: 1440px) {
    header {
        padding-top: 80px;
    }

    .hero {
        grid-template-areas:
            "left content right";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero .people_left {
        margin-left: -1.5vw;
    }

    .hero .people_right {
        margin-right: -1.5vw;
    }

    .hero .content {
        padding-top: 0px;
    }

    .hero .content_container {
        width: auto;
        max-width: none;
        margin-inline: auto;
    }

    /*  Footer ****************** */
    footer {
        padding-top: 112px;
        padding-bottom: 112px;
        background: linear-gradient(hsla(192, 37%, 48%, 90%),
                hsla(192, 37%, 48%, 85%)),
            url('/public/assets/desktop/image-footer.jpg');
        text-align: left;
        background-repeat: no-repeat;
        background-size: cover;

    }

    footer .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    footer h2 {
        max-width: 14ch;
    }

    footer p {
        margin-inline: 0px;
        max-width: 30ch;
    }
}

@media (min-width: 2000px) {
    .hero {
        max-width: 1500px;
        margin-inline: auto;
    }

    .hero .people_left {
        margin-left: 0px;
    }

    .hero .people_right {
        margin-right: 0px;
    }


}