@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --slate-900: #28283D;
    --slate-600: #87879D;
}


body {
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    width: 83%;
    max-width: 1120px;
    margin-inline: auto;
}

.text-1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 110%;
}

.text-4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

header {
    padding-top: 48px;
}

header .logo {
    width: 118px;
    margin-inline: auto;
}

.hero {
    padding-top: 64px;
    padding-bottom: 32px;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "left right"
        "content content";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.hero .people_left {
    margin-left: -1.8rem;
    grid-area: left;

}

.hero .people_right {
    margin-right: -1.8rem;
    grid-area: right;

}

.hero .content {
    text-align: center;
    grid-area: content;
}

.hero h1 {
    color: var(--slate-900);
    margin-top: 48px;
    margin-bottom: 24px;
    max-width: 10ch;
    margin-inline: auto;
}

.hero p {
    color: var(--slate-600);
    margin-bottom: 24px;
}