@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --cyan-600: hsl(192, 37%, 48%);
    --cyan-300: hsl(192, 90%, 77%);
    --cyan-hover: hsl(192, 54%, 64%);
    --purple-600: hsl(268, 34%, 53%);
    --purple-300: hsl(268, 100%, 86%);
    --purple-hover: hsl(268, 55%, 71%);
    --slate-900: hsl(240, 21%, 20%);
    --slate-600: hsl(240, 10%, 57%);
    --slate-300: hsl(240, 18%, 85%);
    --white: hsl(0, 0%, 98%);
}

body {
    background-color: var(--white);
}

body,
* {
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    width: 83%;
    max-width: 70rem;
    margin-inline: auto;
}

.text-1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 900;
    line-height: 110%;
}

.text-2 {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    font-weight: 900;
    line-height: 110%;
}

.text-3 {
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.text-4 {
    font-size: clamp(1rem, 1vw, 1.125rem);
    font-weight: 500;
    line-height: 150%;
}

.text-5 {
    font-size: 1rem;
    font-weight: 900;
    line-height: 150%;
}

.btn {
    text-align: center;
    border-radius: 1.8125rem;
    color: var(--white);
    padding: 1rem 2.5rem;
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn_primary {
    background-color: var(--cyan-600);
}

.btn_primary:hover {
    background-color: var(--cyan-hover);
}

.btn_primary span {
    color: var(--cyan-300);
}

.btn_secondary {
    background-color: var(--purple-600);
}

.btn_secondary:hover {
    background-color: var(--purple-hover);
}

/* Header ****************** */
header {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

header .logo {
    width: 7.375rem;
    margin-inline: auto;
}

/* Hero ****************** */
.hero {
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "left right"
        "content content";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.hero .people_left {
    grid-area: left;
    margin-left: -6vw;
}

.hero .people_right {
    grid-area: right;
    place-self: end;
    margin-right: -6vw;
}

.hero .content {
    padding-top: 3rem;
    grid-area: content;
}

.hero .content_container {
    width: 83%;
    max-width: 70rem;
    margin-inline: auto;
}

.hero h1 {
    color: var(--slate-900);
    margin-bottom: 1.5rem;
    max-width: 10ch;
    margin-inline: auto;
    text-align: center;
}

.hero p {
    color: var(--slate-600);
    margin-bottom: 1.5rem;
    max-width: 40ch;
    text-align: center;
    margin-inline: auto;
}

.hero .buttons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

/* Meetings ****************** */
.meetings {
    padding-top: 2rem;
}

.vertical_line {
    background-color: var(--slate-300);
    width: 0.0625rem;
    height: 5rem;
    margin-inline: auto;
}

.number {
    color: var(--slate-600);
    border: 0.0625rem solid var(--slate-300);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-content: center;
    margin-inline: auto;
    background-color: var(--white);
}

.meeting_images {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1rem, 5vw, 2rem);
}

.meeting_images img {
    border-radius: 0.5rem;
}

.meetings .meeting_content {
    text-align: center;
    padding: 4rem 0px;
}

.meetings h3 {
    color: var(--cyan-600);
    margin-bottom: 1rem;
}

.meetings h2 {
    color: var(--slate-900);
    margin-bottom: 2rem;
    max-width: 19ch;
    margin-inline: auto;
}

.meetings p {
    color: var(--slate-600);
    max-width: 48ch;
    margin-inline: auto;
}

.meetings .divider {
    transform: translateY(1.75rem);
}

/* Footer ****************** */
footer {
    padding: 4rem 2rem;
    text-align: center;
    background: linear-gradient(hsla(192, 37%, 48%, 90%),
            hsla(192, 37%, 48%, 85%)),
        url('/assets/mobile/image-footer.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

footer p {
    max-width: 48ch;
    margin-inline: auto;
}

footer .btn {
    margin-inline: auto;
}

footer span {
    color: var(--purple-300);
}