@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cyan-600: hsl(192, 37%, 48%);
    --cyan-300: hsl(192, 90%, 77%);
    --purple-600: hsl(268, 34%, 53%);
    --purple-300: hsl(268, 100%, 86%);
    --slate-900: hsl(240, 21%, 20%);
    --slate-600: hsl(240, 10%, 57%);
    --slate-300: hsl(240, 18%, 85%);
    --white: hsl(0, 0%, 98%);
}


body,
* {
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    width: 83%;
    max-width: 1120px;
    margin-inline: auto;
}

.text-1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 110%;
}

.text-4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.text-5 {
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
}

.btn {
    text-align: center;
    border-radius: 29px;
    color: var(--white);
    padding: 16px 40px;
    width: fit-content;
}

.btn_primary {
    background-color: var(--cyan-600);
    padding: 16px 40px;

}

.btn_primary span {
    color: var(--cyan-300)
}

.btn_secondary {
    background-color: var(--purple-600);
}

/* Header ****************** */
header {
    padding-top: 48px;
    padding-bottom: 64px;
}

header .logo {
    width: 118px;
    margin-inline: auto;
}

/* Hero ****************** */
.hero {
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "left right"
        "content content";
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-bottom: 32px;
}

.hero .people_left {
    grid-area: left;
    margin-left: -6vw;

}

.hero .people_right {
    grid-area: right;
    place-self: end;
    margin-right: -6vw;
}


.hero .content {
    padding-top: 48px;
    grid-area: content;
}

.hero h1 {
    color: var(--slate-900);
    margin-bottom: 24px;
    max-width: 10ch;
    margin-inline: auto;
    text-align: center;
}

.hero p {
    color: var(--slate-600);
    margin-bottom: 24px;
    max-width: 40ch;
    text-align: center;
    margin-inline: auto;

}

.hero .buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}


/* Main ****************** */