@media (min-width: 768px) {
    .hero .people_left {
        margin-left: -3vw;
    }

    .hero .people_right {
        margin-right: -3vw;
    }


    .hero .content {
        padding-top: 72px;
    }

    .hero .buttons {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 64px;
    }

    /* Meetings ****************** */
    .meetings {
        padding-top: 56px;
        padding-bottom: 64px;
    }

    .meeting_images {
        grid-template-columns: repeat(4, 1fr);
    }

}