@media (min-width: 768px) {
    .text-1 {
        font-size: 48px;
    }

    .hero .people_left {
        margin-left: -3vw;

    }

    .hero .people_right {
        margin-right: -3vw;
    }


    .hero .content {
        padding-top: 72px;
    }

    .hero .buttons {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 64px;
    }


}