@media (min-width: 768px) {
    .hero .people_left {
        margin-left: -3vw;
    }

    .hero .people_right {
        margin-right: -3vw;
    }


    .hero .content {
        padding-top: 72px;
    }

    .hero .buttons {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 64px;
    }

    /* Meetings ****************** */
    .meetings {
        padding-top: 56px;
    }

    .meeting_images {
        grid-template-columns: repeat(4, 1fr);
    }

    /*  Footer ****************** */
    footer {
        background: linear-gradient(hsla(192, 37%, 48%, 90%),
                hsla(192, 37%, 48%, 85%)),
            url('/public/assets/tablet/image-footer.jpg');

        background-repeat: no-repeat;
        background-size: cover;
    }


}